{{outlet}}

	<h1>This application uses ember-data, mocking data using Ember CLI Mirage add-on</h1>

	<h2>List of books</h2>
{{#each model as |book|}}
	<br>title: {{#link-to 'books' book.id}}{{book.title}}{{/link-to}}<br>
{{/each}}

	<button {{action 'goToNew'}}>Enter new book's data</button>

